* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: #aaa;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}
strong {
  color: black;
}

.topBar {
    margin: 1 rem;
    padding: 0.5 rem;
    display: flex;
    justify-content: center;
}
a {
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
    color: black;
}
